.body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    justify-content: center;
}

header {
    background-color: paleturquoise;
    /* color: white; */
    padding: 0.25em;
    font: 1.5em sans-serif;
    text-align: center;
    border-radius: 1em;
}

.container {
    display:flex;
}

.imagewrapper {
    
}

img {
    width: 100px;
    height: 100px;
    display: block
}


.footer {
    background-color: lightgray;
    padding: 0.2em;
    text-align: center;
    border-radius: 1em;
}