.body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    justify-content: center;
}

header {
    background-color: paleturquoise;
    /* color: white; */
    padding: 0.25em;
    font: 1.5em sans-serif;
    text-align: center;
    border-radius: 1em;
}

.content {
    max-width: 60em;
    margin: auto;
}

.container {
    display: flex;
    background-color: #ddd;
    border: 1px solid black;
    justify-content: space-around;
    margin: 1em;
    flex-wrap: wrap;
}

.imagewrapper {
    margin: 0.5em;
    width:250px;
}

@media (max-width: 700px) {
    .imagewrapper {
        width: 100%;
    }
}

img {
    width: 100%;
    height: auto;
    display: block
}


.footer {
    background-color: lightgray;
    padding: 0.2em;
    text-align: center;
    border-radius: 1em;
}



@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}